

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
};


.questions {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
};

.leader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
